<IfModule rewrite_module>
	RewriteEngine On
	RewriteCond "%{REQUEST_FILENAME}" !-d
	RewriteCond "%{REQUEST_FILENAME}" !-f
	RewriteRule "^(.*)html$" web/index.php/$1 [qsappend,last,nocase]
</IfModule>